{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="float: left" >
  <div class="row" >
      <div style='display:inline-block; width: 70%'>
  <div class="jumbotron jumbotron-fluid">
    <h1 class="font-weight-bold">Pastey: An Open-Source Pastebin Clone.</h1>
    <p class="text-monospace">Written in Python and using the Django framework, Pastey is a fully open source, secure Pastebin clone.</p>
  </div>
  <h1>Welcome, {{ request.user }}</h1>

        {% if request.user.is_authenticated %}
          <form action="" method="POST">
            {% csrf_token %}
            {{ form2|crispy }}<br>
          <button type="button" name="submit" value="Paste" id="submit" class="btn btn-outline-secondary">Paste</button>
          </form>
        {% endif %}
      </div>
      <div style='display:inline-block; width: 20%''>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Paster Name</th>
                <th>Paste Title</th>
                <th>Paste Content</th>
                <th>Paste Timestamp</th>
              </tr>
            </thead>
            {% for paste in pastes %}
            <tr>
                <td>{{ paste.poster }}</td>
                <td><a href="{% url 'detail' paste.generated_url %}">{{ paste.title }}</a></td>
                <td>{{ paste.content }}</td>
                <td>{{ paste.timestamp }}</td>
            </tr>
            {% empty %}
            <div class="alert alert-danger" role="alert">
              <h1>No Results Found</h1>
            </div>
            {% endfor %}
        </table>
      </div>
    </div>
</div>
{% endblock content %}
