{% extends "base.html" %}
{% block content %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Paster Name</th>
      <th>Paste Title</th>
      <th>Paste Content</th>
      <th>Paste Timestamp</th>
    </tr>
  </thead>
  <tr>
      <td>{{ post.poster }}</td>
      <td>{{ post.title}}</td>
      <td>{{ post.content }}</td>
      <td>{{ post.timestamp }}</td>
  </tr>
</table>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Shared with:</th>
    </tr>
  </thead>
  <tr>
    {% for share in post.shares.all %}
    <td>{{ share }}</td>
    {% endfor %}
  </tr>
</table>
<a href="{% url 'edit_paste' post.generated_url %}" class="btn btn-primary btn-large">Edit</a>
<a href="{% url 'share_paste' post.generated_url %}" class="btn btn-primary btn-large">Share</a>
{% endblock %}
